@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
**************************
       GLOBAL STYLE
**************************
 */
html body{
    width:100%;
    height:100%;
}
*{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:30px;
}
body{
    background-color: #192635;
}
#wrapper{
    width:100%;
    height:100%;
}
.container{
    padding-right:15px;
}
h1{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.score{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}
.count{
    font-size:40px;
    font-weight:bolder;
}
.countType{
    font-weight:bold;
    font-size:40px;
}
.fa-lg{
    font-size:2em;
    line-height: .5em;
}

/* Round Creation */
.modal-body{
    padding-bottom:0;
}
#roundCreation {
    height:100%;
    width:100%;
    margin:0 auto;
    position:absolute;
    z-index:5000;
    display:none;
    background-color:#283142;
    color:white;
    top:0;
}
#roundCreation h2{
    color:white;
    line-height:1.42857143;
}
#roundCreation form {
    padding-left:15px;
    padding-right:15px;
    background-color:#283142;
}
.textLabel{
    font-size:20px;
}
#roundCreation:target, #roundCreation:target + #cover{
      display:block;
      opacity:2;
  }
.cancel {
    display: block;
    position: absolute;
    right: 2px;
    color: #e5e1e1;
    height: 30px;
    width: 35px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.green{
    background-color: #33b75c;
}
.green:active, .green:hover, .green:focus{
    background-color: #288c47;
}
.leaveround{
    background-color:#404040;
    color:gray;
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    padding:10px;
}
.leaveround a{
    font-size:35px;
}

/* Homepage */
.modAlerts{
    background-color:#334255;
    border-style:solid;
    border-width:2px;
    border-color:#808388;
    margin: 15px;
    margin-top:5px;
}
.modAlerts hr{
    width: 50%;
    margin-left: 15px;
    margin-top: 0;
}
.modAlerts h2{
    color:white;
    font-size:35px;
    font-weight:bolder;
    margin:10px;
    margin-left:15px;
}
.alert {
    background-color:#283142;
    margin-left:15px;
    margin-right:15px;
}
.newModAlertBox{
    background-color:#334255;
    width:100%;
}
.btn-secondary{
    font-size:30px;
    color:white;
}
.zombieBtn{
    background-color: green !important;
}
.activeType{
    color:white;
}
/*.alert:after
{
    content: '';
    position: relative;
    border-style: solid;
    border-width: 20px 15px 0;
    border-color: #283142 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -33px;
    left: 33px;
}*/
.alert p {
    color: white;
    font-size:24px;
}
.alert span {
    font-style:italic;
    font-size:20px;
    color: #bebebe;
}
.main {
    border-color:#93fe2b;
    border-width:5px;
}
.main p {
    color:white;
    font-weight:bold;
}
.main span{
    color: #bebebe;
    font-style:italic;
}
.nextMission {
    color:white;
    margin:15px;
    background-color:#334255;
    padding:10px;
    padding-top:5px;
    border-style:solid;
    border-width:2px;
    border-color:#808388;
}
.nextMission h2{
    font-size:35px;
    margin-left:15px;
}
.nextMission h3{
    text-indent:25px;
}

/* Round Page */
.sectionTitle{
    background-color:#334255;
    text-align:center;
    color:white;
    font-size:40px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #808388;
}
.screenContent{
    color:white;
    padding:20px;
    border-top-style:solid;
    border-top-width:2px;
    border-top-color:#808388;
}
.screenContent span {
    font-size: 1.5em;
}
/* Schedule */
.scheduleContent{
    color:white;
}
.day{
    background-color:#334255;
    border-style:solid;
    border-width:2px;
    border-color:#808388;
}
.day h2{
    font-size:1.5em;
    color:white;
    margin-left:10px;
}
.missionBlock{
    background-color: #283142;
}
.missionBlock p{
    margin:10px;
    padding:5px;
}
.nothing{
    background-color:dimgray;
}
/*.event{
   background-color:#1770c9;
}
.mission{
   background-color: #e02828;
}
.endgame{
   background-color:#690000;
}*/
.type1{
    background-color:
}
.type2{
    background-color:
}

.eventitem {
    background-color:#283142;
    margin-left:5px;
    margin-right:10px;
    margin-bottom:10px;
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

/*.eventitem p {
   font-size:24px;
}*/

.eventinfo{
    font-size:28px;
}
.events{
    background-color:#283142;

}

.eventitem span {
    font-style:italic;
    font-size:20px;
    color: #bebebe;
}
.mainschedule {
    border-color:#93fe2b;
    border-width:5px;
}
.mainschedule p {
    color:white;
    font-weight:bold;
}
.mainschedule span{
    color: #bebebe;
    font-style:italic;
}
.schedulebox{
    background-color:#334255;
    border-width:2px;
    border-color:#808388;
}
.schedulebox hr{
    width: 50%;
    margin-left: 15px;
    margin-top: 0;
}
.schedulebox h2{
    color:white;
    font-size:35px;
    font-weight:bolder;
    margin:10px;
    margin-left:15px;
}
.schedulebox h3{
    color:white;
    font-size:28px;
    font-weight:bolder;
    margin:10px;
    margin-left:15px;
    text-decoration: underline;
}

.event{
    color:#1770c9;
    font-size:28px;
    font-weight:bolder;
}
.mission{
    color: #e02828;
    font-size:28px;
    font-weight:bolder;
}
.endgame{
    color:#ff0000;
    font-size:28px;
    font-weight:bolder;
}

.schedulebox hr{
    width: 50%;
    margin-top: 0;
}
.addScheduleBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#scheduleCreation {
    width:75%;
    margin:0 auto;
    position:absolute;
    z-index:5000;
    display:none;
    background-color:#283142;
    color:white;
    top:25%;
    left:12%;
    border-style: solid;
    border-color: #fafafb;
}
#scheduleCreation h2{
    color:white;
    line-height:1.42857143;
}
#scheduleCreation form {
    padding-left:15px;
    padding-right:15px;
    background-color:#283142;
}

/* Map Page */
#mapScreen{
    height:100%;
    width:100%;
}
#map {
    height: 500px;
    width: 100%;
    border-color: #334255;
    border-style: solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 0;
    border-right-width: 0;
}
.formSection{
    margin-left:25px;
    margin-right:25px;
    margin-top:15px;
    background-color:#334255;
    padding:10px;
    color:white;
}
.formSection .btn, .formSection h1{
    margin-left:15px;
}
.markerBtn{
    margin-left: 15px;
    background-color: #192635;
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Messagign */
.chatArea{
    margin:auto 10px;
}
.otherMessage
{
    position: relative;
    width: 90%;
    min-height: 120px;
    padding: 0px;
    background: #e94103;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #bc3605 solid 4px;
    margin-top:25px;
}

.otherMessage:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #e94103 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 18%;
}

.otherMessage:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #bc3605 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -20px;
    left: 17.7%;
}
.personalMessage
{
    position: relative;
    width: 90%;
    min-height: 120px;
    padding: 0px;
    background: #0085FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #005D84 solid 4px;
    margin-top:25px;
    left:9.7%;
}

.personalMessage:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #0085FF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 82%;
}

.personalMessage:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #005D84 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -18px;
    bottom: -20px;
    left: 82%;
}
.userSection{
    font-size:30px;
    font-weight:bold;
    margin-left: 10px;
}
.timeSection{
    font-style:italic;
    font-size:22px;
    margin-right:10px;
    margin-top:3px;
}
.userMessage{
    font-size:28px;
    padding:10px;
}
.newMessageBox{
    position:absolute;
    bottom:0;
    background-color:#334255;
    width:100%;
}
.messageInput{
    width:70%;
    height:75px;
    position:absolute;
    bottom:0;
    padding:5px;
}
.messageBtn{
    border-radius:0;
    margin:0;
    height:75px;
    width:30%;
    background-color: #334255;
    border-style:none;
    position:absolute;
    bottom:0;
    right:0;
    font-size:32px;
}
.messageBtn:hover, .messageBtn:active, .messageBtn:focus{
    text-decoration:none;
    background-color:#334255;
    border-style: none;
}
/* Contact */
.contactInfo{
    text-align:center;
    color:white;
    margin:50px;
}
.contactInfo h2{
    font-size:40px;
}
.contactInfo p{
    font-size:50px;
}
.medical h2{
    font-size:55px;
}
.medical p{
    font-size: 65px;
}
/*
**************************
       HUMAN STYLE
**************************
 */
.human{
    background-color:orangered;
}
.humanBtn {
    width:25%;
    font-size:40px;
    background-color:red;
    color:black;
    margin:15px;
    border-radius:15px;
}
.humanBtn:hover{
    background-color:darkred;
}


/*
**************************
       ZOMBIE STYLE
**************************
 */
.zombie{
    background-color:#6ace2c;
}


/*
**************************
       MOBILE STYLE
**************************
 */
@media only screen and (max-width: 875px) {
    .score {
        margin-top: 40px;
    }
    .contact{
        margin-top: 35%;
    }
    .modal-content{
        margin: 18% auto;
    }
    #newalert .form-control{
        height:55px !important;
        font-size:28px !important;
        border-radius:0 !important;
    }
    #scheduleCreation .form-control{
        height:55px;
        font-size:28px;
    }
    #scheduleCreation .control-label{
        font-size:32px;
    }
    #scheduleCreation .btn-lg{
        font-size: 30px;
    }
    #scheduleCreation .cancel{
        top: -10px;
        font-size: 50px;
    }
}
/*
**************************
        OLD CODE
**************************
 */
.modal-footer {   border-top: 0; }

.full {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn:hover, .btn:active, .btn:focus, .btn > a:focus, .btn > a:active, .btn > a:hover{
    background-color: #192635;
}

#no-game-message{
    font-size:18px;
}

.error-msg{
    color: red;
    display: none;
    text-align: center;
    font-size: 18px;
}

.message{
    margin: 1%;
    margin-bottom: 2%;
    min-height: 3em;
    color: #ddd;
    background-color: rgba(66, 66, 66, .9);
    border-radius: 12px;
    padding: 2%;
}

.mod-msg{
    color: rgb(250, 205, 205);
    text-shadow: 1px 1px rgb(88, 88, 88);
    font-size: 140%;
    line-height: 105%;
    font-weight: 500;
}

.time{
    font-size: 95%;
    color: #bbb;
}

.msg-title{
    color: white;
    text-shadow: 1px 1px #999;
    font-size: 145%;
    letter-spacing: 1px;
    line-height: 105%;
}

.enem-msg{

}

.omw-msg{

}

.help-msg{}

.smallerText{
    font-size:16px;
}