@main("Home","Round Title","6","17") {
<style>
    </style>

  <!-- Home Screen -->
  <section id="homeScreen">
    <div class="text-center">
      <button class="btn humanBtn">I DIED</button>
    </div>
    <div class="modAlerts">
      <h2>Mod Alerts</h2>
      <hr>
      <div class="alert main">
        <p>
          Game will be on pause until 7:00pm for grace period.
        </p>
        <span>4/27 5:47pm</span>
      </div>
      <div class="alert">
        <p>
          Mission today will restrict humans to only socks and 6-shot blasters.
        </p>
        <span>4/27 12:15pm</span>
      </div>
      <div class="alert">
        <p>
          Game will be on pause until 6:45pm for grace period.
        </p>
        <span>4/26 5:17pm</span>
      </div>
      <div class="alert">
        <p>
          Due to rain, mission will now start at 4:30pm.
        </p>
        <span>4/26 1:15pm</span>
      </div>
      <div class="alert">
        <p>
          This week's round begins at 8:00am!!! Get pumped!
        </p>
        <span>4/25 11:45pm</span>
      </div>
    </div>
    <div class="nextMission">
      <h2>Next Mission: <span>Foul Play</span></h2>
      <h3><span>Date:</span> Friday, 4/28</h3>
      <h3><span>Time:</span> 5:30pm</h3>
      <h3><span>Location:</span> Textor Hall</h3>
    </div>
  </section>

  <!-- Map -->
  <section id="mapScreen" style="display:none">
      <div id="map"></div>
      <h1>Add Marker</h1>
      <form id="markerForm">
          Title: <input type="text" name="title"><br>
          Location: <input type="text" name="location" value="{lat: -25.363, lng: 131.044}"><br>
          Additional Information: <input type="text" name="information"><br>
          <button onclick="addMarker('map', this.form)">Submit</button>
      </form>
      <script>

              function initMap() {
                  var uluru = {lat: -25.363, lng: 131.044};
                  var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 8,
                      center: uluru
                  });

                  var contentString = '<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
                          '<div id="bodyContent">'+
                          '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                          'sandstone rock formation in the southern part of the '+
                          'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
                          'south west of the nearest large town, Alice Springs; 450&#160;km '+
                          '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
                          'features of the Uluru - Kata Tjuta National Park. Uluru is '+
                          'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
                          'Aboriginal people of the area. It has many springs, waterholes, '+
                          'rock caves and ancient paintings. Uluru is listed as a World '+
                          'Heritage Site.</p>'+
                          '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
                          'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
                          '(last visited June 22, 2009).</p>'+
                          '</div>'+
                          '</div>';

                  var infowindow = new google.maps.InfoWindow({
                      content: contentString
                  });

                  var marker = new google.maps.Marker({
                      position: uluru,
                      map: map,
                      title: 'Uluru (Ayers Rock)'
                  });
                  marker.addListener('click', function() {
                      infowindow.open(map, marker);
                  });
              }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiJfnVy0l-webqIktk7_vhXAgenVrr4K0&callback=initMap">
      </script>
  </section>

}