@(title: String, round: String, humanCount: String, zombieCount: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>

        <!-- URI/URL Text -->
        <title>@title</title>

        <!-- CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/home.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/nav.css")" rel="stylesheet">
        <link href='@routes.Assets.at("stylesheets/styles.css")' rel="stylesheet">

        <!-- Jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>
        <div id="wrapper">

                <!-- Navigation -->
            <nav id="sideNav">
                <ul class="list-unstyled main-menu">

                        <!--Include your navigation here-->
                    <li class="text-right"><a href="#" id="nav-close">X</a></li>
                    <li><a onclick="switchScreen('home')">Home </a></li>
                    <li><a onclick="switchScreen('round')">Round Info </a></li>
                    <li><a onclick="switchScreen('schedule')">Schedule </a></li>
                    <li><a onclick="switchScreen('map');">Map </a></li>
                    <li><a onclick="switchScreen('chat')">Messaging </a></li>
                    <li><a onclick="switchScreen('rules')">Rules </a></li>
                    <li><a onclick="switchScreen('contacts')">Contacts </a></li>
                    <button class="btn leaveround"><a>Leave Round </a></button>

                </ul>
            </nav>
            <div class="navbar navbar-inverse navbar-fixed-top center-block">
                <div class="navbar-header pull-left">
                    <a id="nav-expander" class="nav-expander fixed">
                        <i id="navTop" class="fa fa-bars fa-lg white"></i>
                    </a>
                </div>
                <h1 class="navbar-brand">@round</h1>
            </div>

                <!-- Human & Zombie Score -->
            <div class="">
                <div class="col-sm-6 score human activeType">
                    <span id="humanCount" class="count humanCount">@humanCount</span><br>
                    <span class="countType">Humans</span>
                </div>
                <div class="col-sm-6 score zombie">
                    <span id="zombieCount" class="count zombieCount">@zombieCount</span><br>
                    <span class="countType">Zombies</span>
                </div>
            </div>

                <!-- Primary Content -->
            <div id="mainContent" class="">
            @content
            </div>
        </div>
    </body>

    <!-- Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/navgoco.js")"></script>
    <script src="@routes.Assets.at("javascripts/navigation.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiJfnVy0l-webqIktk7_vhXAgenVrr4K0">
    </script>
    <script>
        $('.humanBtn').click(function(){
            $.ajax({
                type: "PUT",
                url: @routes.Users.changeTeam(),
                success : function(data) {
                    console.log(data);
                    $('.humanBtn').text("BRAINZ?");
                    $('.human').toggleClass('activeType', false);
                    $('.zombie').toggleClass('activeType', true);
                    //$('.humanBtn').toggleClass('zombieBtn',true);
                    loadNumbers();
                    var audio = document.getElementById("audio");
                    audio.play()
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Mod Alerts Error");
                    document.getElementById('no-game-message').style.borderColor = "red";
                    document.getElementById('no-game-message').style.display= 'block';
                }
            });
        });

        $('.leaveround').click(function() {
            $.ajax({
                type: "DELETE",
                url: "@routes.Users.leaveRound()",
                data: {},
                success : function(data) {
                    console.log(data);
                    window.location.href="@routes.Home.loadHome()";
                },
                error : function(data) {
                    console.log(data);
                }
            })
        })

        var loadNumbers = function () {
            $.ajax({
                type: "GET",
                url: @routes.Rounds.getRound,
                success : function(data) {
                    console.log(data);
                    round = data;
                    $('#humanCount').text(round['numHumans']);
                    $('#zombieCount').text(round['numZombies']);
                },
                error : function(data) {
                    console.log(data);
                }
            })
        }
        loadNumbers();
    </script>
    <!-- Script for TextArea and Displaying the data -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
    <script>
            function htmlDecode(input){
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes[0].nodeValue;
            }
            function displayRichText(divID,rawData){
                var newContent = htmlDecode(rawData);
                $(divID).html(newContent);
            }
            /*var newContent = htmlDecode(document.getElementById("contentSection").innerHTML);
            document.getElementById("contentSection").innerHTML = newContent;*/
    </script>
    <style>
            .mce-branding-powered-by{
                display:none;
            }
    </style>
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
</html>